#IDE Files
*.iml
*.idea
config.gcfg
nagflux.dump
nagflux.dump-errors
cover.out
nagflux.dump.influx-errors
*.swp
.vscode
.vstags
coverage.txt
.benchmarks/
vendor/
tools/
/nagflux
test/
go.work
go.work.sum
